body{
  font-size: 16px;
  display: flex;
  justify-content: center;
}

#inputfield{
  margin-top: 10px;
  width: 300px;
  height: 30px;
  padding-bottom: 8px;
}

.textArea{
  height: 26px;
  width: 230px;
  padding: 0;
}

.addButton{
  height:100%;
  width:55px;
  float: right;
  margin-left: 3px;
  font-size: 16px;
  background-color: navy;
  color: white;
}

#list{
  width: 300px;
}

.itemLine{
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.removeButton{
  width: 50px;
  height: 100%;
  font-size: 16px;
  color: white;
  background-color: navy;
}

.item{
  width:250px;
  height: 48px;
  padding-left:20px;
  border: 1px solid navy;
  display: flex;
  align-items: center;
}

